{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}用户注册{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg{
            color: red;
            position: absolute;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="account">
        <div class="title">用户注册</div>
        <form id="form" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="row">
                            <div class="col-md-7">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-md-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                    </div>
            </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <span class="error-msg"></span>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-xs-3">
                <input type="button" class="btn btn-primary" value="注  册"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block js %}
    <script>
        //页面整个框架加载完成之后会执行的函数
        $(function (){
            bindClickBtnSms()
        });
        //点击获取验证码的按钮绑定事件
        function bindClickBtnSms(){
            $('#btnSms').click(function (){
                //每次点击都要把之前的错误清除掉
                $('.error-msg').empty();
                //获取用户输入的手机号，找到输入框的ID,根据ID获取值
                const mobilePhone = $('#id_mobile_phone').val();

                //发送ajax请求，把手机号发过去
                $.ajax({
                    url:"{% url 'send_sms' %}",
                    type:"GET",
                    data:{mobile_phone:mobilePhone,tpl:"register"},
                    dataType:"JSON",//将服务端返回的数据反序列化为字典
                    success:function (res){
                        //ajax请求发送成功之后，自动执行的函数；res是后端给的返回值
                        if(res.status){
                            console.log("发送成功,进入倒计时")
                            sendSmsRemind();
                        }else{
                            //console.log(res.error.mobile_phone[0]);
                            $.each(res.error,function (key,value){
                                $('#id_'+key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }
        //倒计时
        function sendSmsRemind(){
            var $smsBtn = $('#btnSms');

            $smsBtn.prop('disabled',true);//禁用

            var time = 60;
            var remind = setInterval(function (){
                $smsBtn.val(time+'秒重新发送');
                time = time - 1;
                if(time < 1){
                    clearInterval(remind);
                    $smsBtn.val('点击获取验证码').prop('disabled',false);
                }
            },1000)
        }
    </script>
{% endblock %}